interface g0/1
 ip address 192.168.1.1 255.255.255.0
 no shutdown
 exit
interface g0/2
 ip address 172.16.1.2 255.255.255.252
 no shutdown
 exit
interface lo1
 ip address 100.0.0.1 255.255.255.255
 no shutdown
 exit
router ospf 1 vrf control-data
 network 192.168.1.0 0.0.0.255 area 0
 network 172.16.1.0 0.0.0.3 area 0
 network 100.0.0.1 0.0.0.0 area 0
 capability vrf-lite
 exit
ip access-list standard remote
 permit 172.31.14.0 0.0.0.15
 permit 10.30.6.0 0.0.1.255
 exit
line vty 0 4
 access-class remote in
 exit
ip name-server vrf control-data 172.16.1.1
ip route vrf control-data 172.31.14.0 255.255.255.240 Null0
ip dns server
ip domain-lookup
end